* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 16px;
	font-family: "open sans", sans-serif;
}
.navbar:visited {
	color: #ff6f22;
}
.navbar li,
.navbar a {
	text-decoration: none;
	list-style-type: none;
}
.navbar li {
	margin-right: 20px;
}
.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #ff6f22;
	font-size: 15px;
	line-height: 12.6px;
	letter-spacing: normal;
	margin-left: 150px;
}
.logo img {
	margin-right: 10px;
}
.power {
	width: 35px;
}
.cta {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.phone-img {
	width: 600px;
}
.inside {
	position: absolute;
	top: 80px;
	left: 300px;
}
.right {
	margin-left: 40px;
}
.catch {
	font-family: "Playfair Display", "serif";
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 40px;
	color: #ffffff;
}

.catch .head {
	font-family: "Bitter", "Georgia", "serif";
	font-size: 45px;
	margin-bottom: 15px;
}
.catch .where {
	font-size: 32px;
	margin-bottom: 15px;
}
