* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Bitter", "serif";
}
.hamburger {
	display: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	z-index: 999;
	padding: 30px;
	top: 0;
	left: 0;
	background-color: #ffffff;
	/* text-decoration: underline; */
}
/* .navbar::after {
	content: " ";
	text-decoration: underline;
	background-color: #50555c;
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0;
} */
.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Open Sans", "sans-serif";
}
.navbar:active {
	color: #ff6f22;
}
.navbar li,
.navbar a {
	text-decoration: none;
	list-style-type: none;
}
.navbar li {
	margin-right: 30px;
	font-size: 20px;
	line-height: 16px;
}
.logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #ff6f22;
	font-size: 15px;
	line-height: 12.6px;
	letter-spacing: normal;
	margin-left: 150px;
}
.logo img {
	margin-right: 10px;
}
.hero::after {
	content: url("//uploads.strikinglycdn.com/page/images/backgrounds/bg7.jpg");
	margin-top: 10px;
	margin-bottom: 30px;
}
.power {
	width: 35px;
}
.power-talk {
	font-weight: 800;
	font-size: 13px;
}
.cta {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.phone-img {
	width: 620px;
	height: 1030px;
	margin-top: 40px;
}
.inside {
	position: absolute;
	top: 80px;
	left: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right {
	margin-left: 40px;
}
.catch {
	font-family: "Playfair Display", "serif";
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 40px;
	color: #ffffff;
}

.catch .head {
	font-family: "Bitter", "Georgia", "serif";
	font-size: 45px;
	margin-bottom: 15px;
}
.catch .where {
	font-size: 32px;
	margin-bottom: 15px;
}
.about,
.articles,
.blog,
.connect {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	margin-bottom: 30px;
}
.about h1 {
	color: #ff6f22;
	font-size: 30px;
	line-height: 34px;
	font-weight: 700;
	margin-bottom: 15px;
}
.about p {
	width: 70%;
	margin: auto;
	font-size: 26px;
	line-height: 37px;
	text-align: center;
}
.articles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* margin: auto; */
}
.articles h1 {
	color: #ff6f22;
	font-size: 36px;
	margin-bottom: 20px;
}
.articles p {
	padding: 30px;
	line-height: 37px;
	font-size: 26px;
}
.articles a {
	text-decoration: none;
}
.articles img {
	width: 160px;
}
.news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin: auto;
}
.news p {
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-family: "Open Sans", "sans-serif";
}
.source {
	font-size: 24px;
	line-height: 35px;
	font-family: "Playfair Display", "serif";
	color: #ff6f22;
}
.news div {
	padding: 20px;
}
.a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.a > p {
	color: #50555c;
}
.blog h1,
.connect h1 {
	color: #ff6f22;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 43.2px;
	font-family: "Bitter", "serif";
}
.posts,
.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.posts div a {
	text-decoration: none;
	color: #50555c;
	font-size: 24px;
}
.posts div,
.social div {
	margin-right: 20px;
	padding: 20px;
}
.social img {
	width: 160px;
}
.social p {
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 375px) {
	.navbar {
		padding: 10px;
		position: relative;
	}
	.navbar ul {
		display: none;
	}
	.hamburger {
		display: block;
		position: sticky;
		background-color: #ff6f22;
		width: 100px;
		min-height: 50px;
		border-radius: 5px;
	}
	.icon1,
	.icon2,
	.icon3 {
		min-height: 20px;
		width: 40px;

		background-color: #ffffff;
	}
	.inside {
		position: absolute;
		top: 80px;
		left: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.phone-img {
		height: 500px;
		width: 400px;
	}
	.right,
	.news,
	.posts {
		flex-direction: column;
	}
}
